<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="External">
			<section name="DataBase" type="System.Configuration.DictionarySectionHandler"/>
			<section name="Excel" type="System.Configuration.DictionarySectionHandler"/>
			<section name="Logic"  type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<External>
		<DataBase>
			<add key="ED.SQLite.dll" value="ED.SQLite.Export" />
		</DataBase>
		<Excel>
			<add key="ED.NPOI.dll" value="ED.NPOI.Export"/>
		</Excel>
		<Logic>
			<add key="ED.BLL.dll" value="ED.BLL.Export"/>
		</Logic>
	</External>
	<connectionStrings>
		<add name="SQLite" connectionString="Data Source=|DataDirectory|\Data\Data.db;Version=3;Pooling=true;FailIfMissing=false;"/>
	</connectionStrings>
</configuration>